
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{ 
    display:flex;
    flex-wrap: wrap ;
    padding: 10px 5px;
    background-color: rgb(190, 128, 249) ;
      align-items: center;
    
}
header nav{
    display: flex;
    gap: 20px;   
}
.banner img{
    width: 100%;
}

.w50 a img{
    width: 5%;
    height: 5%;
}
.w50{
    width:45%;
}

link_prod{
    display:flex;
    justify-content: row;
    border-bottom: 20px,30px,black;
    display: inline-block;
}

